.button {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #5050D0;
	border: none;
	color: white;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 8px;			
}

.voteCount {
	font-size: 16pt;		
	font-weight: bold;
	text-align: center;
	text-shadow: 1px 1px 3px white;
	color: #5050D0;
}

.content {
	background-color: white;
	flex-grow: 1;
	border: 1px solid gray;
	border-radius: 8px;
	background-clip: content-box;
}

.card {
	display: flex;
	background-color: #F0F0F0;
	background-clip: content-box;
	padding-bottom: 10px;
	border-radius: 8px;
}

.votingBooth {
	width:40px;
	background-color: #C0C0FB;
	border-radius: 8px;

}

.cardTitle {
  font-size: 24pt;
  padding-left: 30px;
}

.cardPreview {
	font-size: 12pt;
	font-style: oblique;
	padding-left: 40px;
}
